* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

button {
    font-size: 14px;
    height: 30px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-weight: 700;
    transition: 0.5s;
}

button:hover {
    background-color: white;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}

.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#start-message {
    margin: 10px;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid gray;
    border-radius: 20px;
    width: 500px;
    padding: 0 15px;
    margin-top: 10px;
    text-align: center;
}

.task p {
    word-break: break-word;
    padding: 10px;
}

.task input {
    cursor: pointer;
}

.completed {
    background-color: lightgreen;
    color: white;
}

.completed p {
    text-decoration: line-through;
}

.input-panel {
    display: flex;
    justify-content: space-between;
    width: 500px;
    gap: 35px;
    padding: 5px;
}

.input-panel button {
    width: 35%;
}

.input-panel input {
    padding: 5px;
    width: 70%;
}